:root {
    --pink: #5272F2;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.discordapp.com/attachments/1159805007600832562/1168218434270679080/Hijau_dan_Merah_Ceria_Ilustrasi_Banner_Festival_Kuliner_.png?ex=6550f733&is=653e8233&hm=df2cf074f74c6bca7d1a668d0ae3545f533965ffeeb4f4ebb9356babd371870e&);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: brightness();
}

.hero {
    position: relative;
    min-height: 100vh;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    color: #000;
}

.hero h4 {
    font-size: 1.6rem;
    color: #000;
}

.hero p {
    font-size: 1.2rem;
}

.hero a {
    color: var(--pink);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--pink);
    color: white;
}

/* Media Query */
/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
    .simply-countdown>.simply-section {
        padding: 70px;
    }
}
/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }
}
/* media phone */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }
}

.form-control::placeholder {
    opacity: 0.5; /* Ubah nilai opasitas sesuai preferensi Anda, 1 adalah opasitas penuh */
  }

  /* Gaya tambahan untuk profil developer */
  .developer-profile {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
  }

  .developer-profile img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .developer-profile .description {
    flex: 1;
  }

  .developer-profile a {
    text-decoration: none;
    color: #007BFF;
  }

  /* Gaya footer */
  .footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }